.wrap
  %nav
    %ul
      %li
        %a{:href => '/about'} About
      %li
        %a{:href => '/legal'} Legal
      %li
        %a.dockyard{:href => 'http://dockyard.com/', :target => '_blank'}
          %img.svg{:src => '/assets/made-by-dockyard.svg'}
      %li
        %a{:href => '/contact'} Contact
      %li.copyright &copy; 2013
