.pages
  %h1 About
  %p Very simply, Igata is an application marketplace for Heroku. Developers can sell software that is ready to deploy and entrepreneurs/small business owners can purchase pre-built software that is ready to use that is much cheaper than hiring someone to build from scratch.

  %h3 Buyers
  %p We have a large selection of applications ready to use! You can demo each application, see if it fits your needs then when you are ready simply purchase and within 2 minutes you're up and running!

  %h3 Sellers
  %p Leverage the power of Heroku to sell any application that is ready to deploy. Follow the docs to see how easy it is to configure post-deploy tasks like setting up and migrating the database, or adding application specific add-ons.
